/* Здесь стили для нашего App */

.App {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  height: 100vh;
  background-image: url(../public/img/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --color-bg: rgb(72, 8, 39);
  --color-bg-hover: #0f7dc6;
}

body {
  color: pink;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
}

header>a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

header>a:hover {
  text-decoration: solid;
}

h1 {
  text-align: center;
}

footer {
  background-color: rgb(72, 8, 39);
}

.container {
  flex: 1 1 auto;
  max-width: 900px;
  padding: 2rem 0;
  margin: 0 auto;
}

.active {
  color: rgb(195, 65, 53);
  cursor: default;
}

#registerField {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.3) inset;
  -moz-box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.3) inset;
  box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.3) inset;
}

#shadowtest {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.3);
  -moz-box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.3);
  box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.3);
}

.btn-light {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-color: #909090;
  /*set the color you want here*/
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active,
.open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0f7dc6;
  border-color: #285e8e;
}

#passwordHelpBlock {
  display: block;
}

/*-----------------------------> Стиль для карточки <------------------------------*/

.drink-random-section {
  display: none;
  text-align: center;
  width: 320px;
  margin: 20px auto;
  -webkit-perspective: 1200;
  perspective: 1200;
  -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.drink-all-section {
  text-align: center;
  width: 320px;
  margin: 20px auto;
  -webkit-perspective: 1200;
  perspective: 1200;
  -moz-transform: perspective(1200px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flipper {
  position: relative;
  width: 320px;
  height: 350px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .7s linear;
  -moz-transition: .7s linear;
  -o-transition: .7s linear;
  transition: .7s linear;
}

.front,
.back {
  box-sizing: border-box;
  border-radius: 20px;
  /* border: 5px solid pink; */
  font-family: 'Cabin', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  border: 5px solid pink;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  /* border-bottom: 1px solid #f5f5f5; */
}

i {
  color: #DCB8B2;
  display: inline-block;
  margin-bottom: 15px;
}

h2 {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 15px;
}

p {
  font-size: 14px;
  line-height: 25px;
}

.header {
  height: inherit;
  width: inherit;
}

.text {
  line-height: 70px;
}

.text h2 {
  margin: 0;
  color: #18191a;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.header img {
  width: inherit;
  height: 80%;
  border-radius: 15px 15px 0 0;
}

.front p {
  color: #818285;
}

.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background: #DCB8B2;
  color: white;
  overflow: auto;
  padding: 40px 20px 20px;
}

.back h2 {
  position: relative;
}

.back h2:after {
  content: "";
  width: 50px;
  height: 1px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  background: white;
  margin-left: -25px;
}

.back p {
  padding-top: 15px;
}

.drink-random-section:hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.drink-all-section:hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*-----------------------------> Стиль для поисковой строки <------------------------------*/

.form-inline {
  display: flex;
}
